<footer>
    <p class="copyright">&copy; 2020 - Nature Emoi</p>
    <a href="" class="cgv">Conditions générales de ventes</a>
</footer>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="/js/app.js"></script>
</body>
</html>